<div class="editor-device-signal ">
    <div class="title">
        <span class="tit">
            设备列表
        </span>
    </div>
    <ul class="list">
        <li class="item" *ngFor="let item of datas; index as i;">
            <span class="name">{{item.name}}</span>
            <ul class="sub-list" *ngIf="item.child && item.child.length">
                <li class="sub-item" *ngFor="let sub of item.child; index as subi;">
                    <span class="line"></span>
                    <span class="sub-name dragBool"  draggable="true" (dragstart)="dragCreateComp($event, sub)">{{sub.name}}</span>
                </li>
            </ul>
        </li>
    </ul>
</div>