:host {
    $border:  1px solid rgba(73,136,254, 0.5);
    $border-line:1px dashed#e5e5e5;
    user-select: none;
    .title {
        font-size: 14px;
        height: 32px;
        line-height: 32px;
        color:#555555;
        border-bottom: 1px solid #cccccc;
        .tit {
            font-weight: 600;
            margin: 0px 10px;
        }
    }
    .dragBool {
        cursor: move;
    }
    ul {
        padding: 0;
        list-style: none;
    }
    .list {
        font-size: 14px;
        margin: 10px;
        text-align: center;

        .item {
            width: 100px;
            height: 26px;
            line-height: 26px; 
            border: $border;
        }
    }

    .sub-list {
        border-left:  $border-line;
        margin-left: 20px;
        font-size: 12px;
        .sub-item {
            margin: 2px 0;
            position: relative;
            .line {
                position: absolute;
                width: 20px;
                border-bottom:  $border-line;
                left: 0px;
                top: 16px;
            }
        }
        .sub-name {
            padding: 1px 10px;
            border:  $border;
            margin-left: 15px;
        }
    }
}