:host {
    .libs-node {
        user-select: none;
        font-size: 14px;
        position: absolute;
        border: 1px solid rgba(73, 136, 254, 0.5);
        height: 30px;
        width: 60px;
        line-height: 30px;
        text-align: center;
        &.active{
            border:2px solid #4988fe;
        }
        cursor: move;
        .name {
            width: 100%;
            padding: 4px 10px;
        }

        .bef-node, .next-node {
            cursor: crosshair;
            position: absolute;
            right: -20px;
            top: 10px;
            border-radius: 50px;
            width: 10px;
            height: 10px;
            border: 1px solid #4988fe;
            background: white;
            &:hover {
                background: greenyellow;
            }
        }

        .bef-node {
            left: -20px;
        }

        .nodeActive {
            background: red;
            border:1px solid red;
        }
    }

    svg {
        position: absolute;
        background: aliceblue;
        left: -18px;
        z-index: -2;
    }
}