<div class="libs-node" 
    *ngIf="compJsonSchame"
    draggable="true" 
    (click)="controlComp($event)" 
    (dragstart)="controlComp($event)"
    (dragend)="controlComp($event)" [ngClass]="{
        active:compJsonSchame && compJsonSchame.active
    }" [ngStyle]="{
        top:appendPixel('positionTop'),
        left:appendPixel('positionLeft')
    }">
    <span class="name">{{compJsonSchame && compJsonSchame.expression.name || "元素"}}</span>

    <div class="bef-nodes"> 
        <span *ngFor="let node of compJsonSchame['nodeDTOs']['left'];index as i;"
            class="bef-node node" 
            [ngClass]="{
                nextNodeActive:node.nextNodeactive,
                befNodeActive:node.befNodeActive
            }"
            draggable="true" 
            [ngStyle]="{
                top:appendPixel('y', node)
            }"
            (dragstart)="controlNode($event, 'output')"
            (drag)="controlNode($event, 'output')"
            (dragend)="controlNode($event, 'output')"></span>
    </div>
    <div class="next-nodes" > 
        <span *ngFor="let node of compJsonSchame['nodeDTOs']['right'];index as i;"
            class="next-node node" 
            [ngClass]="{
                nextNodeActive:node.nextNodeactive,
                befNodeActive:node.befNodeActive
            }"
            draggable="true" 
            [ngStyle]="{
                top:appendPixel('y', node)
            }"
            (dragstart)="controlNode($event, 'output', node)"
            (drag)="controlNode($event, 'output', node)"
            (dragend)="controlNode($event, 'output', node)">
        </span>
    </div>
</div>